﻿/* -----------------------------------------------------------------------------

    This file is used to add your own CSS definitions.
        Don't forget to link this CSS to all your HTML files (uncomment it in HEAD tag).

----------------------------------------------------------------------------- */

/* your CSS here */


/* -----------------------------------------------------------------------------

    RESPONSIVE DEFINITIONS

----------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
    LARGE DEVICES
            devices with width between 992px and 1199px
------------------------------------------------------------------------- */
@media ( max-width: 1199px ) {

    /* your CSS here */

}

/* -------------------------------------------------------------------------
    MEDIUM DEVICES
            devices with width between 768px and 991px
------------------------------------------------------------------------- */

@media ( max-width: 991px ) {

    /* your CSS here */

}

/* -------------------------------------------------------------------------
SMALL DEVICES
        devices with width between 481px and 767px
------------------------------------------------------------------------- */

@media ( max-width: 767px ) {

    /* your CSS here */

}

/* -------------------------------------------------------------------------
EXTRA SMALL DEVICES
        devices with width up to 480px
------------------------------------------------------------------------- */

@media ( max-width: 480px ) {

    /* your CSS here */

}