 
/* Website CSS by Jonathan Bird: www.jonathanbird.com.au */

*,
body,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  {
    font-size: 14px;
    font-family:'Raleway', Helvetica Neue, Helvetica, arial, sans-serif;

}

body {
    background: url('../img/bg2.png') top center #5193E6;
    background-repeat: repeat;
    color: #fff;
    font-weight: 300;
}

h1,h2,h3,h4 {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-family: 'Raleway', Helvetica Neue, Helvetica, arial, sans-serif;
    font-weight: 200;
}

h1 {
    padding-top:0px;
    margin-top:0px;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 0 0 0px;
    margin-bottom: 0px;
    margin-top: 15px;
}

h2 {
    font-size: 2.2em;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
    font-weight: 300;
    line-height: 1em;
}

h2.service-heading {
    color: #525252;
    font-weight: 200;
    margin-top: 25px;
}

h3 {
    font-size: 2em;
    line-height: 1.25em;
    margin-bottom: 30px;
    color: #212121;
}

h4 {
    font-size: 1.5em;
    line-height: 1.25em;
    color: #212121;
    margin-bottom: 10px;
}

h4 span {
    font-size: 0.65em;
    color: #727272;
    text-transform: uppercase;
    display: block;
}


a {
    color:#fff; 
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration:none;
    outline: 0!important;
    border: 0;
}

a:hover {
    color: #ee6557;
    text-decoration:none;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.container {
    padding: 50px 0;
}

#logo {
    margin-top: 35px;
    margin-bottom: 30px;
}

#background-changer {
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    left: -20px;
    top: 35%;
    padding: 15px 30px;
    z-index: 9999;
}

#background-changer #bg-first {
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 0;
}

#background-changer li {
    padding: 3px 0;
    margin-left: 20px;
}

#background-changer li a {
    text-transform: uppercase;
    font-size: 13px;
    color: #222;
    text-shadow: #fff 0 1px 0;
}

#background-changer li a:hover {
    color: rgba(21,175,25,1);
}

.clients {
    text-align: center;
}

#intro,
#laptop {
    margin: 0 auto;
}

#intro h2 {
    padding-bottom: 20px;
    text-align: center;
}

#laptop {
    margin-top: 30px;
}

.cajaHerramientas {
    width: 100%;
}

.white-bg {
    background-color: #fff;
    color: #575757;
}

.grey-bg {
    background-color: #f2f2f2;
    color: #575757;
}

.services {
    margin: 40px 0;
    text-align: center;
    padding: 0 60px;
}

#signup {
    padding-top: 40px;
    clear: both;
    text-align: center;
}

#signup input, 
#signup select {
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: bold;
    border: 0;
}
#signup select option {
    padding: 10px 15px;
}

#signup select {
    height: 38px;
}

.client-img {
    border-radius: 50%;
}

/* form */

form #success,
form #error {
    display: none;
}

#info {
    color:#FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align:center;
    margin-bottom: 25px;
}

#success, 
#error {
    color:#FFF;
    padding: 10px 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align:left;
    margin-bottom: 25px;
}

#error {
    background:#ff7461;
}

#success{
    background:#7cda70;
}

input[type="email"],
select {
    min-width: 250px;
    color: #000;
}

#signup input[type="submit"] {
    padding: 11px 25px;
}

/* buttons */
.button {
    display: inline-block;
    background: #004674;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 1px 0px rgba(0,0,0,0.2);
    text-align: center;
    margin:0px auto 7px;
    border:0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.button:hover {
    background: #0074c1;
}

#send #signup {
    padding-top: 0;
    color: #888;
}

#send #intro h2 {
    padding-bottom: 10px;
    color: #333;
}

footer {
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

footer h2 {
    font-weight: bold;
    font-size: 3.2em;
    line-height: 1.8em;
    color: #fff;
}

.social-snippet {
    margin-top: 20px;
}

.social-snippet img {
    opacity: 0.5;
}

.social-snippet img:hover {
    opacity: 1;
}